<div class="page-wrapper price-change">
    <!-- MENU SIDEBAR Start-->
    <aside class="menu-sidebar">
        <!-- Logo Image-->
        <div class="logo">
            <img src="assets/images/smyths.png" alt="" />
        </div>

        <!-- Navigation Bar Start-->
        <nav class="navbar-sidebar mb-5">
            <ul class="list-unstyled navbar-list">
                <li>
                    <a href="#">
                        Dashboard
                        <!-- {{'menuitem.menu1' | translate}} -->
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/click-collect" routerLinkActive="active">
                        Click & Collect
                        <!-- {{'menuitem.menu2' | translate}} -->
                    </a>
                    <span class="inbox-num text-center">8</span>
                </li>
                <li>
                    <a href="#">
                        Orders
                        <!-- {{'menuitem.menu2' | translate}} -->
                    </a>
                </li>
                <li>
                    <a href="#"  >
                        Cycle Count
                        <!-- {{'menuitem.menu3' | translate}} -->
                    </a>
                </li>
                <li>
                    <a href="#">
                        Goods Receipt
                        <!-- {{'menuitem.menu4' | translate}} -->
                    </a>
                </li>
                <li>
                    <a href="#">
                        Price Change
                        <!-- {{'menuitem.menu5' | translate}} -->
                    </a>
                    <span class="inbox-num text-center">11</span>
                </li>
                <li>
                    <a href="#">
                        Stock Adjustment
                        <!-- {{'menuitem.menu6' | translate}} -->
                    </a>
                </li>
                <li>
                    <a href="#">
                        Users
                        <!-- {{'menuitem.menu7' | translate}} -->
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Navigation Bar End-->

        <!-- Navigation Footer Bar Start-->
        <div class="d-flex flex-row bg-white footer-box">
            <div class="pt-3">
                <a href="#" class="px-2 d-flex">
                    <i class="fas fa-store-alt"></i>
                    <p class="px-2">Claremori</p>
                </a>
            </div>
            <div class="pt-3 ml-auto">
                <a href="#" class="px-2 d-flex">
                    <p class="px-2">
                        Settings
                    </p>
                    <i class="fa fa-cog "></i>
                </a>
            </div>
        </div>
        <!-- Navigation Footer Bar End-->

    </aside>
    <!-- END MENU SIDEBAR-->
</div>
<!-- MENU SIDEBAR Start-->